header.page-header
	include logo

	nav
		ul
			li
				a(href="blank.html")
					| Студия
			li
				a(href="blank.html")
					| Клиенты
			li
				a(href="price.html")
					| Магазин
			li
				a(href="catalog.html")
					| Контакты
