mixin logo()
	if (currentPage === "index.html")
		a(class!=attributes.class)
			img(src="images/nerds-logo.svg" width="140" height="49" alt="Логотип Nerds")
	else
		a(href="index.html" class!=attributes.class)
			img(src="images/nerds-logo.svg" width="140" height="49" alt="Логотип Nerds")
