mixin logo(currentPage)
	if (currentPage === "index.html")
		a
			img(src="images/nerds-logo.svg" width="140" height="49" alt="Логотип Nerds")
	else
		a(href="index.html")
			img(src="images/nerds-logo.svg" width="140" height="49" alt="Логотип Nerds")
