extends pug/base

prepend vars
	- title = "Nerds - дизайн-студия из Краснодара";
	- description = "Учебный проект Nerds для тренировки навыков верстки";

append vars
	- html.classList.push("page-index");
	- currentPage = "index.html";

block content
	main
		h1.visually-hidden
			| Nerds - дизайн-студия из Краснодара

		| Основное содержимое
