*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	-webkit-font-smoothing: antialiased;
	text-decoration-skip: objects;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

button:not([disabled]),
a[role="button"]:not([disabled]) {
	cursor: pointer;
}

.container {
	margin: 0 auto;
	border: 2px solid #000;
	padding: 0 120px;
	max-width: 1440px;
}

.page-header {
	padding-top: 49px;
	background-color: $color-lightgrey;
}

.page-header .container {
	display: grid;
	grid-template-columns: 2fr 7fr 3fr;
}

.logo {
	width: 140px;
	height: 49px;
}

.site-nav__list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
